<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
  <h1><%= @number %></h1>
  <form id="plus" action="/plus" method="post" class="pull-left">
    <input type="submit" value="+" name="commit" class="btn btn-primary">
  </form>
  <form id="plus" action="/minus" method="post" class="pull-left">
    <input type="submit" value="-" name="commit" class="btn btn-danger">
  </form>
</body>
</html>
