<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1><%= @number %></h1>
  <form id="plus" action="/plus" method="post" class="pull-left">
    <input type="submit" value="+" name="commit">
  </form>
  <form id="plus" action="/minus" method="post" class="pull-left">
    <input type="submit" value="-" name="commit">
  </form>
</body>
</html>
